---
import Cabecalho from "@componentes/Cabecalho.astro";
import Rodape from "@componentes/Rodape.astro";
import SecaoContato from "@componentes/SecaoContato.astro";
import { empresa } from "@dados/empresa";
import LayoutPrincipal from "../layouts/LayoutPrincipal.astro";

const titulo = "Contato Kazanova Sob Medida | Moveis sob medida Joinville";
const descricao =
  "Fale com a Kazanova Sob Medida pelo WhatsApp e visite nossa marcenaria no Jardim Iririu, em Joinville.";

const dadosEstruturados = {
  "@context": "https://schema.org",
  "@type": "HomeAndConstructionBusiness",
  name: empresa.nome,
  description: empresa.descricao,
  telephone: empresa.telefoneWhatsapp,
  address: {
    "@type": "PostalAddress",
    streetAddress: "R. Tel\u00eamaco Borba - Jardim Iriri\u00fa",
    addressLocality: empresa.cidade,
    addressRegion: empresa.estadoSigla,
    postalCode: "89227-322",
    addressCountry: "BR",
  },
  geo: {
    "@type": "GeoCoordinates",
    latitude: empresa.latitude,
    longitude: empresa.longitude,
  },
  areaServed: `${empresa.regiaoAtendida}, ${empresa.estado}, Brasil`,
  sameAs: [empresa.linkInstagram],
};
---

<LayoutPrincipal titulo={titulo} descricao={descricao}>
  <Cabecalho />
  <main id="conteudo-principal">
    <SecaoContato tituloPrincipal />
  </main>
  <Rodape />
  <script type="application/ld+json" set:html={JSON.stringify(dadosEstruturados)} />
</LayoutPrincipal>
